// 🎨 Sass Variables (used inside SCSS files)
$color-light-bg: #ffffff;
$color-dark-bg: #0a0a0a;
$color-light-text: #171717;
$color-dark-text: #ededed;
$color-accent: #39cdcc;
$color-primary: #213f7d;
$color-secondary: #545f7d;
$color-error: #e4033b;

$font-base: var(--font-work-sans), var(--font-avenir-next), Arial, sans-serif;

// 🌐 CSS Variables (exported globally to runtime)

