// Color and font variables
@use "../variables.scss" as *;

.userDetails {
  font-family: var(--font-work-sans);
  color: $color-primary;

  // Back link
  .backLink {
    margin-bottom: 15px;

    span {
      color: $color-secondary;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: $color-accent;
      }
    }
  }

  // Top actions
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    span {
      font-size: 20px;
      font-weight: 600;
      color: $color-primary;
    }

    .buttonSpace {
      display: flex;
      gap: 12px;
    }

    .blacklist,
    .activate {
      font-size: 12px;
      padding: 8px 16px;
      border-radius: 6px;
      font-weight: 500;
      transition: 0.3s;
      cursor: pointer;
    }

    .blacklist {
      border: 1px solid $color-error;
      color: $color-error;
      background: transparent;

      &:hover {
        background: $color-error;
        color: $color-light-bg;
      }
    }

    .activate {
      border: 1px solid $color-accent;
      color: $color-accent;
      background: transparent;

      &:hover {
        background: $color-accent;
        color: $color-light-bg;
      }
    }
  }

  // User header
  .userContainer {
    width: 100%;
    max-width: 1440px;
    background: $color-light-bg;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 0px 10px;
    margin: 0 auto 20px auto;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 25px;

    .profile {
      display: flex;
      align-items: center;
      gap: 15px;

      .avatarContainer {
        width: 100px;
        height: 100px;
        background: #f0f4f8;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .avatar {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 4px;
        color: $color-primary;
      }
      p {
        font-size: 14px;
        color: #545f7d;
      }
    }

    .line {
      height: 60px;
      border-left: 1px solid #e5e7eb;
      margin: 0 20px;
    }

    .tier {
      text-align: center;

      p {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
        color: $color-primary;
      }

      .stars {
        color: orange;
        font-size: 18px;
      }
    }

    .account {
      text-align: left;
      color: $color-primary;

      h3 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 4px;
      }
      p {
        font-size: 12px;
        color: #545f7d;
      }
    }
  }

  // Tabs
  .tabs {
    display: flex;
    gap: 30px;
    padding: 0px 35px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    span {
      font-size: 14px;
      cursor: pointer;
      padding-bottom: 8px;
      color: #6b7280;
      transition: 0.2s;

      &.active {
        color: $color-accent;
        font-weight: 500;
        border-bottom: 2px solid $color-accent;
      }

      &:hover {
        color: $color-accent;
      }
    }
  }

  // Section card
  .section {
    background: #fff;
    padding: 20px 20px 0px 25px;
    margin-top: 1px;

    h4 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #213f7d;
      text-transform: capitalize;
    }

    .infoGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      border-bottom: 1px solid #e5e7eb;
      padding-bottom: 20px;
      margin-bottom: 20px;

      .label {
        font-size: 12px;
        font-weight: 400;
        color: #545f7d;
        margin-bottom: 4px;
        text-transform: uppercase;
      }

      .value {
        font-size: 16px;
        font-weight: 500;
        color: #545f7d;
      }
    }
  }

  /* ---------------- MOBILE RESPONSIVE ---------------- */
  @media (max-width: 425px) {
    .actions {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      gap: 15px;

      .profile {
        flex-direction: column;
        align-items: flex-start;

        .avatarContainer {
          width: 80px;
          height: 80px;
        }

        h2 {
          font-size: 18px;
        }
      }

      .line {
        display: none;
      }

      .tier,
      .account {
        text-align: left;
      }
    }

    .tabs {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      padding: 0px 15px;
    }

    .section {
      padding: 15px;

      h4 {
        font-size: 14px;
      }

      .infoGrid {
        grid-template-columns: 1fr; // stack items
        gap: 15px;

        .value {
          font-size: 14px;
        }
      }
    }
  }
}
